.botoes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.botao {
    margin-top: 5px;
    padding: 10px 20px;
    font-size: 8px;
    cursor: pointer;
}